<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All employees</title>
</head>
<body>
	<h2>All Employees</h2>
	<hr>
	<a th:href="@{/}"> Back to Index</a>
	<a th:href="@{/allEmployees}"> Refresh</a>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Hire Date</th>
				<th>address</th>
				<th>edit</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${listOfEmployees}">
				<td th:text=${employee.firstName}></td>
				<td th:text=${employee.lastName}></td>
				<td th:text=${employee.hireDate}></td>
				<td th:text=${employee.address}></td>
				<td><a th:href="@{editEmployee(id=${employee.id})}">edit</a></td>
			</tr>
		</tbody>

	</table>
</body>
</html>